// Colours
$black: #000000;
$white: #FFFFFF;
$brand-blue: #AAD7E8;
$brand-pink: #FFD3F4;
$brand-black: #231F20;
$placeholder-grey: #333333;

// Font Weights
$light: 300;
$regular: 400;
$semi: 600;
$bold: 700;

// Font Sizes
$small: 1.4rem;
$standard: 1.6rem;
$large: 1.8rem;

// Base Font
$base-font-family: Arial, sans-serif;
$base-font-size: 1.6rem;
$base-line-height: 1.4;

// Media Queries
$small: 320px !default;
$mobile: 375px !default;
$tablet: 768px !default;
$laptop: 1024px !default;
$desktop: 1440px !default;

